
main, section {

}

.google-maps {
  position: relative;
  padding-bottom: 75%; // This is the aspect ratio
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
}

.team-members {
  background: url('../assets/worn-dots.png');
}

.dy-btn-fill {
  background: $neutral-dark-color;
  color: white;
}

.dy-btn-outline {
  border-color: $neutral-dark-color;
  color: $neutral-dark-color;

  &:hover {
    background: $neutral-dark-color;
    color: white;
  }
}

.schedule-thead {
  background: $neutral-dark-color;
  color: white;
}

//
//main.about {
//  .card-deck {
//    .card {
//      background: url('../assets/pinstriped-suit.png');
//    }
//  }
//}